body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Lucida Grande", "Helvetica", sans-serif;
}

/* LAYOUT UTILS */
.flex {
  display: -webkit-flex;
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row-between {
  flex-direction: row;
  justify-content: space-between;
}

.flex-full {
  flex: 1;
}

/* HEADER */
.site-header {
  flex: 0;
  padding: 4px 0px;
  border-bottom: 2px solid #ccc;
  background-color: #eee;
}

.site-header > *:first-child {
  margin-left: 12px;
}

.site-header > *:last-child {
  margin-right: 12px;
}

.site-header h1 {
  font-size: 24px;
}

.site-header button {
  font-size: 20px;
}

/* SIDEBAR */
.sidebar {
  flex: 0 0 20%;
  border-right: solid 1px #ccc;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar h4 {
  background-color: #ddd;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 4px;
}

.sidebar li {
  padding: 4px;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 4px 0;
}

.content * {
  padding: 0 12px;
}

/* ITEM LIST */
.item-section {
  list-style-type: none;
  margin: 300px 0 0;
  padding: 0;
}

.item-section h3 {
  font-weight: normal;
  font-style: italic;
}

.item {
  margin-bottom: 8px;
}

.item:hover {
  background-color: #eee;
}

.item > * {
  font-size: 18px;
  padding: 8px;
}

.item-name {
  flex: 1;
}

.item-price {
  flex: 0;
}
/* MODAL BOX */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  z-index: 1;
  background-color: rgba(0,0,0,.45);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .modal-open{
  display: flex;
} */
.modal-cart{
  display: grid;
  overflow: auto;
  min-width: 50vw;
  height: auto;
  background-color: white;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
  'cart . . close'
  'item item item item'
  'clear . lbl ttl';
  align-items: center;
  justify-items:center;
}
.cart-name {
  grid-area: cart;
}
.close {
  grid-area: close; 
}
.cart-content {
  grid-area: item;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5% 0
}
.modal-item{
  display: flex;
  flex-direction: row;
  height: 3rem;
  margin: 0 12%;
  font-size: 20px;
  align-items: center;
}
.clear {
  grid-area: clear;
  font-size: 18px;
  padding: 8px;
}
.label {
  grid-area: lbl;
}
.total {
  grid-area: ttl;
}

